<!DOCTYPE html>
<html lang="en">
<head>
    @model IEnumerable<spering_html.Models.User>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Sayfası</title>
    <link rel="stylesheet" href="/css/profil.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/style.css.map">
    <link rel="stylesheet" href="/css/style.scss">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesheet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
</head>
<body>
    <div class="row py-5 px-4">
        <div class="col-md-5 mx-auto">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3">
                            <img src="/images/patrick.png" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                            <a href="@Url.Action("EditProfile", "Home")" class="btn btn-outline-dark btn-sm btn-block">Profili Düzenle</a>
                        </div>
                        @foreach (var item in Model)
                        {
                            <div class="media-body mb-5 text-white">
                                <h4 class="mt-0 mb-0">@item.Username</h4>
                                <p class="small mb-4">
                                    <i class="fas fa-map-marker-alt mr-2"></i>@item.Email
                                </p>
                            </div>
                        }
                    </div>
                </div>
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">215</h5>
                            <small class="text-muted">
                                <i class="fas fa-image mr-1"></i>Photos
                            </small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">745</h5>
                            <small class="text-muted">
                                <i class="fas fa-user mr-1"></i>Followers
                            </small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">340</h5>
                            <small class="text-muted">
                                <i class="fas fa-user mr-1"></i>Following
                            </small>
                        </li>
                    </ul>
                </div>
                <div class="px-4 py-3">
                    <h5 class="mb-0">About</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0">Web Developer</p>
                        <p class="font-italic mb-0">Lives in İzmir</p>
                        <p class="font-italic mb-0">Brawl Stars babaprosu</p>
                    </div>
                </div>
                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">Paylaşılan Fotoğraflar</h5>
                        <a href="#" class="btn btn-link text-muted">Düzenle</a>
                    </div>
                    <form asp-action="UploadPhoto" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="photo" class="form-control-file">
                        </div>
                        @foreach (var item in Model)
                        {
                            <input type="hidden" name="userId" value="@item.Id">
                        }
                        <button type="submit" class="btn btn-primary mt-2">Fotoğraf Yükle</button>
                    </form>
                    <div class="row mt-3">
                        @foreach (var item in Model)
                        {
                            @foreach (var photo in item.Photos)
                            {
                                <div class="col-lg-6 mb-2 pr-lg-1">
                                    <img src="@photo.PhotoPath" alt="" class="img-fluid rounded shadow-sm">
                                    <form asp-action="DeletePhoto" method="post">
                                        <input type="hidden" name="photoId" value="@photo.Id">
                                        <button type="submit" class="btn btn-danger btn-sm mt-2">Sil</button>
                                    </form>
                                </div>
                            }
                        }
                    </div>
                    <form asp-controller="Home" asp-action="Logout" method="post">
                        <button type="submit" class="btn-logout btn btn-secondary mt-3">Çıkış Yap</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script src="/js/profil.js"></script>
    <script src="/js/custom.js"></script>
</body>
</html>
